@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #08070B;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.app-checkbox:hover {
    color: #A3FFAE;
}